.page-template-kanban-account {
	background-color: #f5f6f7;
}
.kanban-account-page {
	width: 100%;
}
.kanban_container {
	width: calc(100% - 50px);
	max-width: 1080px;
	margin-inline: auto;
	padding-block: 100px;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	@include tab-max {
		flex-direction: column;
		.kanban_user_info, .kanban_boards_wrap {
			width: 100%;
		}
		.kanban_user_info {
			margin-bottom: 32px;
		}
	}
	@include limbo-min {
		.kanban_user_info, .kanban_boards_wrap {
			width: 48%;
		}
	}
}
.kanban_user_info {
	background-color: #18191b;
	color: #fff;
	border-radius: 16px;
	padding: 32px;
	max-width: 450px;
	h1 {
		margin-top: 0;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		padding-bottom: 16px;
		font-size: 36px;
		color: #fff;
	}
	.user_info_inner {
		display: flex;
		justify-content: space-between;
		padding-top: 32px;
		@include mob-only {
			flex-direction: column;
		}
		@include tab-min {
			> div {
				width: 48%;
			}
		}
		.user_info_left {
			@include mob-only {
				margin-bottom: 16px;
			}
			img {
				border-radius: 50%;
				border: 4px solid #f5f6f7;
				box-sizing: border-box;
				max-width: 128px;
			}
		}
		.user_info_right {
			p {
				display: flex;
				flex-direction: column;
				font-size: 18px;
				&:first-child {
					margin-top: 0;
				}
				span {
					font-weight: 500;
				}
			}
		}

	}
	.user_info_bottom {
		display: flex;
		justify-content: space-between;
		padding-top: 32px;
		margin-top: 32px;
		border-top: 1px solid rgba(255,255,255,0.1);
		a {
			display: flex;
			align-items: center;
			text-decoration: none;
			font-size: 16px;
			svg {
				margin-right: 8px;
				width: 20px;
			}
		}
		.edit-info {
			color: #17B26A;
		}
		.logout-link {
			color: #f04438;
		 }
	}
}
.kanban_boards_wrap {
	border: 1px solid #eaebec;
    background-color: #fff;
    margin-block: var(--space-4);
    border-radius: 12px;
	padding: 32px;
	max-width: 450px;
	h2 {
		margin-block: 0 32px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		padding-bottom: 16px;
	}
}
.kanban-boards {
	.kanban-board {
		background-color: var(--bg-color);
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		padding: 16px;
		margin-bottom: 32px;
		.kanban-board-top {
			display: flex;
			align-items: center;
			margin-bottom: 8px;

		}
		.wp-post-image {
			width: 32px;
			object-fit: contain;
			height: auto;
			margin-right: 8px;
		}
		h3 {
			color: #fff;
			z-index: 2;
			margin-top: 0;
			pointer-events: none;
			margin-bottom: 0;
			font-size: 20px;
		}
		a {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: linear-gradient(0deg, rgba(0,0,0,0) 20%, rgba(0,0,0,.4) 100%);
			border-radius: 8px;
		}
		.allowed_users {
			display: flex;
			justify-content: flex-end;
			span {
				margin-left: -8px;
				transition: .2s all;
			}
			img {
				border-radius: 50%;

			}
		}
		&:hover {
			.allowed_users span {
				margin-left: 4px;
			}
		}
	}
}
