body.kanban-classic {
  .board-header  {
	  .expander {
		background-image: url(../assets/icons/plus.svg);
		&.open {
			background-image: url(../assets/icons/minus.svg);
		}
	  }
	  .top_expander_wrap {
		  transition: .2s all, all .2s .3s;
		  &.open {
			  background-color: rgba(0,0,0, .3);
			  transition: .2s all, border-radius .2s .2s;
			  height: 57.5px;
			  border-radius: 8px 8px 0 0;
			  padding-bottom: 7.5px;
			  margin-bottom: -2.5px;
		  }
	  }
	  .bottom {
		  background-color: rgba(0,0,0,0.3);
		  transform: translateY(3px);
	  }
  }

  .kp_documents  {
	  a {
		  span {
			background-image: url(../assets/icons/file.svg);
			&.file-type-pdf {
				background-image: url(../assets/icons/pdf.svg);
			}
			&.file-type-doc {
				background-image: url(../assets/icons/doc.svg);
			}
			&.file-type-docx {
				background-image: url(../assets/icons/docx.svg);
			}
			&.file-type-ppt {
				background-image: url(../assets/icons/ppt.svg);
			}
			&.file-type-pptx {
				background-image: url(../assets/icons/pptx.svg);
			}
			&.file-type-csv {
				background-image: url(../assets/icons/csv.svg);
			}
			&.file-type-zip {
				background-image: url(../assets/icons/zip.svg);
			}
			&.file-type-rar {
				background-image: url(../assets/icons/rar.svg);
			}
		  }
	  }
  }
}

body:not(.kanban-classic) {
	.kp_documents {
		a {
			span {
				background-image: url(../assets/icons/file.svg);
				&.file-type-pdf {
					background-image: url(../assets/icons/pdf-2.svg);
				}
				&.file-type-doc {
					background-image: url(../assets/icons/doc-2.svg);
				}
				&.file-type-docx {
					background-image: url(../assets/icons/docx-2.svg);
				}
				&.file-type-ppt {
					background-image: url(../assets/icons/ppt-2.svg);
				}
				&.file-type-pptx {
					background-image: url(../assets/icons/pptx-2.svg);
				}
				&.file-type-csv {
					background-image: url(../assets/icons/csv-2.svg);
				}
				&.file-type-zip {
					background-image: url(../assets/icons/zip-2.svg);
				}
				&.file-type-rar {
					background-image: url(../assets/icons/rar-2.svg);
				}
			}
		}
	}
}


$text-color : #C7C7C7;
$border : .3px solid #7b7b7b;

@mixin bg {
	background-color: rgba(29, 29, 29, .75);
	backdrop-filter: blur(15px);
	border-radius: 10px;
	border: $border;
}

.kp_details_title {
	color: $text-color;
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 12px!important;
	margin: 0;
}

.board-header {
	background-color: rgba(29, 29, 29, .55);
	min-width: 100vw;
	width: 100%;
	@media (max-width: 1000px) {
		min-width: 1000px;
	}
	.top {
		width: calc(100vw - 40px);
		@include flex;
		align-items: center;
		position: sticky;
		left: 0;
		z-index: 9;
		padding-block: 12px;
		margin-left: 20px;
		@media (max-width: 1000px) {
			width: calc(100% - 40px);
			max-width: 1000px;
		}
	}
	.top_left {
		width: 40%;
		display: flex;
		align-items: center;
		.kp_logo {
			height: 40px;
			margin-right: 16px;
			margin-bottom: 0;
			img {
				object-fit: contain;
				height: 100%;
				width: auto;
			}
		}
		h1 {
			font-size: 22px;
			color: $text-color;
			margin-block: 0 8px;
			padding-bottom: 0;
		}
		.kp_details_expander {
			color: $text-color;
			display: flex;
			align-items: center;
			cursor: pointer;
			margin: 0;
			font-size: 14px;
			font-weight: 500;
			svg {
				margin-left: 10px;
				@include st;
			}
			&.open {
				svg {
					transform: scaleY(-1);
				}
			}
		}
		.top_left_right {
			position: relative;
		}
		.kp_details {
			@include bg;
			position: absolute;
			display: none;
			left: 0;
			z-index: 9;
			width: 450px;
			padding: 16px;
			transform: translateY(12px);
			overflow: hidden;
			resize: both;
			.kp_details_inner {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}
			.kp_details_top {
				width: 100%;
				border-bottom: $border;
				margin-bottom: 12px;
				padding-bottom: 12px;
				.kp_project_description {
					font-size: 16px;
					color: $text-color;
					font-weight: 400;
				}
			}
			.kp_details_left {
				width: 55%;
				&:last-child {
					width: 100%;
				}
				a {
						display: flex	;
						font-size: 12px;
						align-items: center;
						word-break: break-word;
						padding-right: 5px;
						box-sizing: border-box;
						text-decoration: none;
						position: relative;
						transition: .2s all;
						line-height: 1.2;
						color: #fff;
						font-weight: 400;
						margin-bottom: 8px;
						span {
							width: 30px;
							height: 30px;
							flex-shrink: 0;
							background-repeat: no-repeat;
							background-position: center;
							background-size: calc(100% - 10px);
						}
				}
			}
			.kp_details_right {
				width: 40%;
				display: flex;
				flex-wrap: wrap;
				height: fit-content;
				.kp_details_title {
					width: 100%;
				}
				&:nth-child(2) {
					width: 100%;
				}
				.board_member {
					margin-right: -8px;
					@include st;
					img {
						border-radius: 50%;
					}
				}
				&:hover {
					.board_member {
						margin-right: 4px;
					}
				}
			}
		}
	}
	.top_right {
		width: calc(60% - 56px);
		display: flex;
		align-items: center;
		justify-content: flex-end;
		.user {
			display: flex;
			align-items: center;
		}
	}
	#fullscreen-btn {
		width: 26px;
		margin-left: 30px;
		padding: 0;
		background-color: transparent;
		cursor: pointer;
		box-shadow: none;
		border: none;
		box-sizing: border-box;
	}
	&.fs-active {
	  #fullscreen-btn {
		background-image: url(../assets/icons/minimize.svg);
	  }
	}
	.user_info {
		position: relative;
	}
	.user_static {
		display: flex;
		align-items: center;
		color: $text-color;
		font-weight: 400;
		font-size: 18px;
		cursor: pointer;
		&.open {
			svg {
				transform: scaleY(-1);
			}
		}
		img {
			width: 37px;
			height: 37px;
			border-radius: 50%;
			margin-right: 12px;
		}
		svg {
			@include st;
			margin-left: 10px;
		}
	}
	.user_info_content {
		@include bg;
		position: absolute;
		display: none;
		right: 0;
		z-index: 9;
		width: 200px;
		padding: 16px;
		transform: translateY(12px);
		.user_boards {
			margin-bottom: 50px;
			a {
				padding-bottom: 6px;
				margin-bottom: 6px;
			}
		}
		.user_boards_title {
			color: $text-color;
			font-weight: 400;
			border-bottom: .3px solid #7B7B7B;
			margin-block: 0 8px;
			padding-bottom: 8px;
		}
		.edit-project-link {
			border-top: .3px solid #7b7b7b;
			padding-top: 8px;
			a {
				display: flex;
				align-items: center;
				margin-bottom: 8px;
			}

		}
		.account_meta {
			border-top: .3px solid #7b7b7b;
			padding-top: 16px;
			a {
				padding-bottom: 3px;
				&:not(:last-child) {
					margin-bottom: 3px;
				}
			}
		}
		a {
			display: flex;
			color: $text-color;
			font-weight: 400;
			border-bottom: 1px solid transparent;
			@include st;
			align-items: center;
			text-decoration: none;
			font-size: 14px;
			line-height: 1.4;
			svg {
				width: 18px;
				margin-right: 4px;
			}
			&:hover {
				border-bottom-color:rgba(255,255,255, .6);
			}
			img {
				width: 30px;
				margin-right: 16px;
				object-fit: contain;
				height: 30px;
			}
		}
	}
}
