
.card-priority, .card-status {
    display: none;
}

.kanban-card {
	z-index: 0;
	&:nth-last-child(9) {
		z-index: 9;
	}
	&:nth-last-child(8) {
		z-index: 8;
	}
	&:nth-last-child(7) {
		z-index: 7;
	}
	&:nth-last-child(6) {
		z-index: 6;
	}
	&:nth-last-child(5) {
		z-index: 5;
	}
	&:nth-last-child(4) {
		z-index: 4;
	}
	&:nth-last-child(3) {
		z-index: 3;
	}
	&:nth-last-child(2) {
		z-index: 2;
	}
	&:last-child {
		z-index: 1;
	}
	.priority-wrap {
		margin-right: 4%;
	}
}

.status-wrap {
	.dynamic-select {
		svg {
			width: 18px;
		}
	}
}

.dynamic-select {
    position: relative;
    border-radius: 8px;
    box-sizing: border-box;
    z-index: 9;
	svg {
		width: 16px;
		height: auto;
		aspect-ratio: 1 / 1;
		flex-shrink: 0;
	}
    .dynamic-select-current-item {
        display: flex;
        align-items: center;
        position: relative;
		height: 17px;
		box-sizing: border-box;
        .dynamic-select-label {
            margin-left: 4px;
            width: calc(100% - 15px);
            color: #484646;
			font-size: 12px;
			font-weight: 400;
			display: flex;
			align-items: center;
        }
    }
    .dynamic-select-dropdown {
        padding: 4px 12px 8px 12px;
        box-shadow: 0px 8px 40px 0px #18191B29;
        margin-top: 8px;
        position: absolute;
        background-color: #F2F2F2;
        width: 120px;
        border-radius: 4px;
		border: 1px solid rgba(115,113,113,0.4);
		left: 0;
        .dynamic-select-item {
            border-radius: 4px;
            display: flex;
            align-items: center;
            transition: .3s all;
			font-size: 13px;
			font-weight: 400;
			margin-top: 4px;
			&:first-child {
				font-weight: 500;
			}
            svg {
                margin-right: 8px;
            }
            &:hover {
                color: #222;
            }
        }
    }
}
