.list-view {
	#kanban-board {
		flex-direction: column;
		padding-inline: 20px 20px;
		position: relative;
		.kanban-column {
			min-width: 1000px;
			z-index: 0;
			&:nth-last-child(9) {
				z-index: 9;
			}
			&:nth-last-child(8) {
				z-index: 8;
			}
			&:nth-last-child(7) {
				z-index: 7;
			}
			&:nth-last-child(6) {
				z-index: 6;
			}
			&:nth-last-child(5) {
				z-index: 5;
			}
			&:nth-last-child(4) {
				z-index: 4;
			}
			&:nth-last-child(3) {
				z-index: 3;
			}
			&:nth-last-child(2) {
				z-index: 2;
			}
			&:last-child {
				z-index: 1;
			}

		}
		.column-title {
			width: fit-content;
		}
		.kanban-card {
			display: grid;
			grid-template-columns: 250px 250px 1fr 30px;
			align-items: center;
		}

		.card-mid {
			display: flex;
				align-items: center;
			.ce-paragraph {
				padding: 0;
			}
			.card-svgs {
				div {
					margin-inline: 4px;
				}
			}
		}
		.card-bottom {
			align-items: center;
			padding-left: 30px;
		}

		.priority-wrap, .status-wrap {
			width: 100px;
		}
		.add-card-wrap {
			position: absolute;
			top: 0;
			right: 50px
		}
		@media (min-width: 1200px) {
			padding-right: 220px;
			#add-column-btn {
				position: fixed;
				right: 20px;
				width: 180px;
			}
		}
	}
	&.kanban-classic {

		.kanban-column {
			.column-title {
				padding-right: 16px;
			}
		}
		.delete-column-btn {
			background-color: #fff;
			background-position: center;
			right: 8px;
		}
	}
	&.kanban-modern {
		.add-card-wrap {
			margin-top: 3px;
		}
	}
	&.kanban-compact {
		.kanban-column {
			.column-title {
				padding-right: 6px;
			}
		}
	}
}
