$mob-max: 480.5px;
$tab-min: 480.6px;
$tab-max: 834.5px;
$limbo-min: 834.6px;
$limbo-max: 1199.5px;
$desk-min: 1199.6px;
$sm-desk-max: 1360.5px;
$md-desk-min: 1360.6px;
$md-desk-max: 1660.5px;
$lg-desk-min: 1660.6px;
$huge-desk-min: 2560px;

@mixin flex {
	display: flex;
	flex-wrap: wrap;
}

@mixin flex-between {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@mixin flex-col {
	display: flex;
	flex-direction: column;
}

@mixin flex-center {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

@mixin mob-only {
	@media (max-width: $mob-max) {
		@content;
	}
}

@mixin tab-min {
	@media (min-width: $tab-min) {
		@content;
	}
}

@mixin tab-max {
	@media (max-width: $tab-max) {
		@content;
	}
}

@mixin tab-only {
	@media (min-width: $tab-min) and (max-width: $tab-max) {
		@content;
	}
}

@mixin limbo-min {
	@media (min-width: $limbo-min) {
		@content;
	}
}

@mixin limbo-max {
	@media (max-width: $limbo-max) {
		@content;
	}
}

@mixin limbo-only {
	@media (min-width: $limbo-min) and (max-width: $limbo-max) {
		@content;
	}
}

@mixin desk-min {
	@media (min-width: $desk-min) {
		@content;
	}
}

@mixin sm-desk-only {
	@media (min-width: $desk-min) and (max-width: $sm-desk-max) {
		@content;
	}
}

@mixin sm-desk-max {
	@media (max-width: $sm-desk-max) {
		@content;
	}
}

@mixin md-desk-min {
	@media (min-width: $md-desk-min) {
		@content;
	}
}

@mixin md-desk-max {
	@media (min-width: $md-desk-max) {
		@content;
	}
}

@mixin md-desk-only {
	@media (min-width: $md-desk-min)  and (max-width: $md-desk-max) {
		@content;
	}
}

@mixin lg-desk-min {
	@media (min-width: $lg-desk-min) {
		@content;
	}
}

@mixin huge-desk-min {
	@media (min-width: $huge-desk-min) {
		@content;
	}
}

$red : #A34343;
$blue : #C0D6E8;
$title-color : #686565;


@mixin btn {
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	text-decoration: none;
	display: inline-flex;
	font-size: 14px;
	cursor: pointer;
	color: #fff;
	line-height: 1;
	align-items: center
}

@mixin btn-1 {
	@include btn;
	background-color: #17B26A;
 }
 @mixin btn-2 {
	@include btn;
	background-color: $red;

 }

 @mixin st {
	transition: .3s ease-in-out;
 }

 :root {
	--text-color: #fff;
	.kanban-color-one {
		&.kanban-classic {
			--bg-color: rgba(72, 120, 81, 1);
		}
		&:not(.kanban-classic) {
			--bg-color: linear-gradient(180deg,rgba(72, 120, 81, 1) 0%, rgba(16, 60, 24, 1) 100%);
		}
	}
	.kanban-color-two {
		--bg-color: rgba(24, 105, 134, 1);
		&:not(.kanban-classic) {
			--bg-color: linear-gradient(180deg,rgba(24, 105, 134, 1) 0%, rgba(6, 25, 32, 1) 100%);
		}
	}
	.kanban-color-three {
		--bg-color: rgba(130, 139, 143, 1);
		&:not(.kanban-classic) {
			--bg-color: linear-gradient(180deg,rgba(130, 139, 143, 1) 0%, rgba(38, 41, 42, 1) 100%);
		}
	}
	.kanban-color-four {
		--bg-color: rgba(24, 25, 27, .8);
		&:not(.kanban-classic) {
			--bg-color: linear-gradient(180deg,rgba(24, 25, 27, .8) 0%, rgba(0, 0, 0, 1) 100%);
		}
	}
}
