
.disabled {
	opacity: .6;
	filter: grayscale(1);
	pointer-events: none;
}

.licence-invalid {
	> *:not(.pro_overlay) {
		opacity: .6;
		filter: grayscale(1);
		* {
			pointer-events: none;
		}
	}
}
.board_settings_section, .switch-holder {
	position: relative;
}
div.licence-invalid {
	.pro_overlay {
		display: flex;
	}
}


.pro_overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, .2);
	z-index: 9;
	padding: 32px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	opacity: 0;
	transition: .2s ease-in-out;
	display: none;
	&:hover {
		opacity: 1;
	}
	a {
		@include kan-btn;
		padding: 10px 20px;
		margin-inline:16px;
		cursor: pointer;
		text-decoration: none;
	}
}

*[disabled] {
	pointer-events: none;
}

.post-type-kanban-project {
	input[type="submit"] {
		@include kan-btn;
	}
	#publishing-action {
		position: fixed;
		top: 60px;
		right: 20px;
		width: 100%;
		z-index: 99;
		input[type="submit"] {
			width: 280px;
		}
	}
}

.board_settings_section {
	background-color: #f1f5f9;
	padding: 15px 25px;
	border-radius: 10px;
}
.board_box {
	@include basic-box;
	position: relative;
}

#project_class_meta_box {
	border: none;
	background-color: transparent;
	.inside {
		padding: 0;
	}
	.postbox-header {
		pointer-events: none;
		h2 {
			font-size: 22px;
		}
	}
	.handle-actions {
		display: none;
	}
}

.board_settings_subtitle {
	font-size: 16px;
	font-weight: 500;
	margin-block: 0 32px;
}


.modern {
	#project-class-meta-box {
		p {
			input {
				&[value="kanban-color-one"] {
					background-color: #838c91;
					box-shadow: $shadow-var-1 rgba(131, 140, 145, .6),$shadow-var-2 rgba(131, 140, 145, .2),$shadow-var-3 rgba(131, 140, 145, .8),$shadow-var-4 rgba(131, 140, 145, .2);
				}
				&[value="kanban-color-two"] {
					background-color: #487852;
					box-shadow: $shadow-var-1 rgba(72, 120, 82, .6),$shadow-var-2 rgba(72, 120, 82, .2),$shadow-var-3 rgba(72, 120, 82, .8),$shadow-var-4 rgba(72, 120, 82, .2);
				}
				&[value="kanban-color-three"] {
					background-color: #18191b;
					box-shadow: $shadow-var-1 rgba(24, 25, 27, .6),$shadow-var-2 rgba(24, 25, 27, .2),$shadow-var-3 rgba(24, 25, 27, .8),$shadow-var-4 rgba(24, 25, 27, .2);

				}
				&[value="kanban-color-four"] {
					background-color: #176a86;
					box-shadow: $shadow-var-1 rgba(23, 106, 134, .6),$shadow-var-2 rgba(23, 106, 134, .2),$shadow-var-3 rgba(23, 106, 134, .8),$shadow-var-4 rgba(23, 106, 134, .2);
				}
			}
		}
	}
}

.board-files {
	display: flex;
	flex-wrap: wrap;
	li {
		width: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		position: relative;
		padding-inline: 5px;
		box-sizing: border-box;
		&:last-child {
			margin-right: 64px;
		}
		.board-file-remove {
			position: absolute;
			top: -5px;
			right: 10px;
			text-decoration: none;
			font-size: 22px;
			line-height: 1;
		}
		.file_icon {
			width: 50px;
			height: 50px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: calc(100% - 10px);
			display: flex;
			background-image: url(../icons/file.svg);
			&.file-type-pdf {
				background-image: url(../icons/pdf.svg);
			}
			&.file-type-doc {
				background-image: url(../icons/doc.svg);
			}
			&.file-type-docx {
				background-image: url(../icons/docx.svg);
			}
			&.file-type-ppt {
				background-image: url(../icons/ppt.svg);
			}
			&.file-type-pptx {
				background-image: url(../icons/pptx.svg);
			}
			&.file-type-csv {
				background-image: url(../icons/csv.svg);
			}
			&.file-type-zip {
				background-image: url(../icons/zip.svg);
			}
			&.file-type-rar {
				background-image: url(../icons/rar.svg);
			}
		}
	}
}

.board-upload-files_inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center
}

.button.board-upload-button {
	background-color: transparent;
	border: 1px solid #439CEF;
	color: #439CEF;
	font-size: 16px;
	padding: 10px 15px 10px 45px;
	background-color: #fff;
	background-image: url(../icons/upload.svg)!important;
	background-position: center left 15px;
	background-repeat: no-repeat;
	background-size: 20px;
	transition: .2s ease-in-out;
	&:hover, &:focus {
		background-color: rgba(67, 156, 239, .1);
		border: 1px solid #439CEF;
	}
	&:hover, &:focus, &[disabled] {
		background-image: url(../icons/upload.svg)!important;
		background-repeat: no-repeat!important;
		background-size: 20px!important;
		background-position: center left 15px!important;

	}

}

#kanban-users-meta-box {
	@include basic-box;
	#kanban-user-search, #kanban-user-role-filter {
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
		border: none;
		width: 300px;
		max-width: 48%;
	}
}

#kanban-users-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, 175px);
    gap: 10px;
	margin-top: 12px;
	.kanban-user-item {
		position: relative;
		label {
			cursor: pointer;
			font-size: 14px;
			font-weight: 600;

		}
		input {
			background-image: url(../icons/user-x.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center left;
			border: none;
			width: 25px;
			height: 25px;
			box-shadow: none;

			&:checked {
				background-image: url(../icons/user-check.svg);
			}
			&::before {
				display: none;
			}
		}

	}
}

#board_layout_options {
	@include basic-box;
}

#board_color_scheme {
	.board_settings_subtitle {
		margin-bottom: 0;
	}
}

.switch-holder {
	display: flex;
	align-items: center;
	padding-block: 32px;
	@include st;
}


.switch-label {
	margin-right: 16px;

}

.switch-toggle {
	height: 40px;
	&:not(.disabled) {
		input[type="checkbox"]+label::before {
			@include st;
		}
		input[type="checkbox"]+label {
			cursor: pointer;
		}
	}
	input[type="checkbox"] {
		position: absolute;
		opacity: 0;
		z-index: -2;
	}
	input[type="checkbox"]+label {
		position: relative;
		display: inline-block;
		width: 150px;
		height: 40px;
		border-radius: 20px;
		margin: 0;
		box-shadow: inset -8px -8px 15px rgba(255, 255, 255, .6),
				inset 10px 10px 10px rgba(0, 0, 0, .25);
	}
	input[type="checkbox"]+label::before {
		position: absolute;
		content: 'Classic';
		font-size: 13px;
		text-align: center;
		line-height: 25px;
		top: 8px;
		left: 8px;
		width: 65px;
		height: 25px;
		border-radius: 20px;
		background-color: #eeeeee;
	}
	input[type="checkbox"]:checked+label::before {
		left: 50%;
		content: 'Modern';
		color: #18191b;
		background-color: #adf7bd;
		box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),
				3px 3px 5px rgba(0, 0, 0, .25);
	}
}


#project-class-meta-box {
	display: grid;
	grid-template-columns: repeat(auto-fill, 100px);
	gap: 10px;
	@include basic-box;
	p {
		width: 100px;
		height: 100px;
		font-size: 0;
		input {
			width: 100%;
			height: 100%;
			position: relative;
			border-radius: 12px;
			border: none;
			box-shadow: none;
			@include st;
			&[value="kanban-color-one"] {
				background-color: #838c91;
			}
			&[value="kanban-color-two"] {
				background-color: #487852;
			}
			&[value="kanban-color-three"] {
				background-color: #18191b;
			}
			&[value="kanban-color-four"] {
				background-color: #176a86;
			}
			&:checked {
				&:before {
					all: unset;
					content: url(../icons/check-light.svg);
					position: absolute;
    				right: 4px;
					top: 4px;
				}
			}
		}
	}
}

#project-layout-meta-box {
	display: grid;
	grid-template-columns: repeat(auto-fill, 100px);
	gap: 10px;
	@include basic-box;
	#project-layout-meta-box {
		width: 100%;
	}
	p {
		margin-top: 0;
		font-size: 14px;
	}
	input {
		margin-top: 8px;
		width: 100px;
		height: 100px;
		border-radius: 12px;

		background-repeat: no-repeat;
		background-position: center;
		background-size: 75px;
		box-sizing: border-box;
		background-color: #2F7AE5;
		position: relative;
		border: none;
		box-shadow: none;
		background-position: bottom 5px left 5px;
		@include st;
		&[value="kanban-view"] {
			background-image: url(../icons/kanban.svg);
		}
		&[value="list-view"] {
			background-image: url(../icons/list.svg);
		}
		&::before {
			width: 24px;
			height: 24px;
		}
		&:checked {
			&:before {
				all: unset;
				content: url(../icons/check-light.svg);
				position: absolute;
				right: 4px;
				top: 4px;

			}
		}
	}
}
