
.disabled {
	opacity: .6;
	filter: grayscale(1);
	pointer-events: none;
}

.licence-invalid {
	> *:not(.pro_overlay) {
		opacity: .6;
		filter: grayscale(1);
		* {
			pointer-events: none;
		}
	}
}
.board_settings_section, .switch-holder {
	position: relative;
}
div.licence-invalid {
	.pro_overlay {
		display: flex;
	}
}


.pro_overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, .2);
	z-index: 9;
	padding: 32px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	opacity: 0;
	transition: .2s ease-in-out;
	display: none;
	&:hover {
		opacity: 1;
	}
	a {
		@include kan-btn;
		padding: 10px 20px;
		margin-inline:16px;
		cursor: pointer;
		text-decoration: none;
	}
}

*[disabled] {
	pointer-events: none;
}

.post-type-kanban-project {
	background-color: #fff;
	input[type="submit"] {
		@include kan-btn;
	}
	#publishing-action {
		position: fixed;
		top: 60px;
		right: 20px;
		width: 100%;
		z-index: 99;
		input[type="submit"] {
			width: 280px;
		}
	}
}

.board_settings_section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 40px;
	> div {
		height: 100%;
	}
	#kanban-users-meta-box {
		grid-column: 1 / 3;
	}
}
.board_box {
	position: relative;
}

.board_box_inner {
	@include basic-box;
}

#project_class_meta_box {
	border: none;
	background-color: transparent;
	.inside {
		padding: 0;
	}
	.postbox-header {
		pointer-events: none;
		h2 {
			font-size: 28px;
			display: flex;
			justify-content: center;
		}
	}
	.handle-actions {
		display: none;
	}
}

.board_settings_subtitle {
	font-size: 18px;
	margin-block: 32px 16px;
	color: #232323;
	font-weight: 400;
}

.modern, .compact{
	#project-class-meta-box {
		p {
			input {
				&[value="kanban-color-one"] {
					background: linear-gradient(180deg,rgba(var(--color-1), 1) 0%, rgba(16, 60, 24, 1) 100%);
				}
				&[value="kanban-color-two"] {
					background: linear-gradient(180deg,rgba(var(--color-2), 1) 0%, rgba(6, 25, 32, 1) 100%);
				}
				&[value="kanban-color-three"] {
					background: linear-gradient(180deg,rgba(var(--color-3), 1) 0%, rgba(38, 41, 42, 1) 100%);
				}
				&[value="kanban-color-four"] {
					background: linear-gradient(180deg,rgba(var(--color-4), 1) 0%, rgba(0, 0, 0, 1) 100%);
				}
			}
		}
	}
}

.board-files {
	display: flex;
	flex-wrap: wrap;
	li {
		width: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		position: relative;
		padding-inline: 5px;
		box-sizing: border-box;
		word-break: break-word;
		&:last-child {
			margin-right: 64px;
		}
		.board-file-remove {
			position: absolute;
			top: -5px;
			right: 10px;
			text-decoration: none;
			font-size: 22px;
			line-height: 1;
		}
		.file_icon {
			width: 40px;
			height: 50px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: calc(100% - 10px);
			display: flex;
			background-image: url(../icons/file.svg);
			&.file-type-pdf {
				background-image: url(../icons/pdf.svg);
			}
			&.file-type-doc {
				background-image: url(../icons/doc.svg);
			}
			&.file-type-docx {
				background-image: url(../icons/docx.svg);
			}
			&.file-type-ppt {
				background-image: url(../icons/ppt.svg);
			}
			&.file-type-pptx {
				background-image: url(../icons/pptx.svg);
			}
			&.file-type-csv {
				background-image: url(../icons/csv.svg);
			}
			&.file-type-zip {
				background-image: url(../icons/zip.svg);
			}
			&.file-type-rar {
				background-image: url(../icons/rar.svg);
			}
		}
	}
}

.board-upload-files_inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center
}

.button.board-upload-button {
	background-color: transparent;
	border: 1px solid #2270B1;
	color: #232323;
	font-size: 16px;
	padding: 5px 15px 5px 40px;
	background-color: #fff;
	background-image: url(../icons/upload.svg)!important;
	background-position: center left 12.5px;
	background-repeat: no-repeat;
	background-size: 18px;
	transition: .2s ease-in-out;
	&:hover, &:focus {
		background-color: rgba(67, 156, 239, .1);
		border: 1px solid #439CEF;
	}
	&:hover, &:focus, &[disabled] {
		background-image: url(../icons/upload.svg)!important;
		background-repeat: no-repeat!important;
		background-size: 19px!important;
		background-position: center left 12.5px!important;

	}

}

#kanban-users-meta-box {
	#kanban-user-search, #kanban-user-role-filter {
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
		border: none;
		width: 300px;
		max-width: 48%;
	}
}

#kanban-users-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, 175px);
    gap: 10px;
	margin-top: 12px;
	.kanban-user-item {
		position: relative;
		label {
			cursor: pointer;
			font-size: 14px;
			font-weight: 600;

		}
		input {
			background-image: url(../icons/user-x.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center left;
			border: none;
			width: 25px;
			height: 25px;
			box-shadow: none;

			&:checked {
				background-image: url(../icons/user-check.svg);
			}
			&::before {
				display: none;
			}
		}

	}
}

.color-scheme-options {
	margin-block: 16px;
	border-radius: 12px;
	width: fit-content;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	overflow: hidden;
	.color-scheme-option {
		padding: 2px;
		span {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			height: 35px;
			width: 100%;
			cursor: pointer;
			box-sizing: border-box;
			transition: .2s all;
			background-size: contain;
			position: relative;
			font-size: 14px;
			border-radius: 12px;
		}
		input {
			display: none;
			&[value="compact"] + span {
				border: 2px solid transparent;
			}
		}
		input:checked {
			&[value="classic"] + span {
				background: rgba(var(--color-2), 1);
				color: #fff;
			}
			&[value="modern"] + span {
				background: linear-gradient(180deg, rgba(var(--color-2), 1) 0%, #061920 100%);
				color: #fff;
			}
			&[value="compact"] + span {
				border-color: rgba(var(--color-2), 1);
				background-color: #fff;
			}
		}
	}
}

#project-class-meta-box {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 10px;
	width: fit-content;
	margin-block: 16px;
	width: 100%;
	p {
		height: 38px;
		font-size: 0;
		input {
			width: 100%;
			height: 100%;
			position: relative;
			border-radius: 12px;
			border: none;
			box-shadow: none;
			@include st;
			&:before {
				all: unset;
				content: url(../icons/check-circle-light.svg);
				position: absolute;
				right: 50%;
				top: 50%;
				transform: translate(50%, -50%);
				opacity: 0;
				transition: .2s all;
			}
			&[value="kanban-color-one"] {
				background: rgba(var(--color-1), 1);
			}
			&[value="kanban-color-two"] {
				background: rgba(var(--color-2), 1);
			}
			&[value="kanban-color-three"] {
				background: rgba(var(--color-3), 1);
			}
			&[value="kanban-color-four"] {
				background: rgba(var(--color-4), 1);
			}
			&:checked {
				&:before {
					opacity: 1;
				}
			}
		}
	}
}

#project-layout-meta-box {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 10px;
	p {
		margin-top: 0;
		font-size: 14px;
		margin-bottom: 0;
	}
	label {
		width: 100%;
		height: 100%;
		cursor: pointer;
		display: flex;
		align-items: center;
		padding: 15px 10px;
		box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
		border-radius: 12px;
		height: 48px;
		box-sizing: border-box;
		font-size: 16px;
		background-color: #fff;
		&:before {
			content: "";
			display: block;
			width: 24px;
			height: 24px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			margin-right: 16px;
		}
		&:after {
			content: "";
			background-image: url(../icons/square.svg);
			display: block;
			width: 24px;
			height: 24px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			margin-left: auto;
		}
	}
	input {
		display: none;
		&:checked + label {
			&:after {
				background-image: url(../icons/check-square.svg);
			}
		}

		&[value="kanban-view"] + label {
			&::before {
				background-image: url(../icons/kanban-dark.svg);
			}
		}
		&[value="list-view"] + label {
			&::before {
				background-image: url(../icons/list-dark.svg);
			}
		}
	}
}
