.toplevel_page_kanban-settings {
	#wpcontent {
		padding-right: 10px;
	}
	.form-table th {
		width: unset;
		padding-bottom: 0;
	}
	h2 {
		font-size: 22px
	}
	#project-class-meta-box {
		p {
			margin-top: 0;
		}
	}
	.kanban-settings-tab {
		border-radius: 10px;
		margin-block: 16px;
		padding: 15px 25px;
		background-color: #f1f5f9;
		box-sizing: border-box;
		p:not(.stat-number) {
			font-size: 14px;
		}
		@include limbo-min {
			width: calc(100% - 220px);
		}
		.settings_section_title {
			font-weight: 600;
			margin-top: 0;
		}
	}
	.switch-holder {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-top: 0;
	}
	form:first-of-type {
		tbody, tr, td {
			all: unset;
		}
		tbody {
			width: 100%;
		}
	}
	input[type="submit"] {
		@include kan-btn;
	}
	.kanban-settings-container {
		display: flex;
		flex-wrap: wrap;
		padding-top: 32px;
		padding-left: 32px;
		@include tab-max {
			flex-direction: column;
			padding-left: 0;
			padding-top: 0;
		}
		.kanban-settings-main {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			@include tab-max {
				flex-direction: column;
			}
			@include desk-min {
				width: 70%;
				max-width: 1024px;
				margin-right: 32px;
			}
			@include limbo-max {
				width: 100%;
			}
		}
		.nav-tab-wrapper {
			border-bottom: none;
			display: flex;
			flex-direction: column;
			@include tab-min {
				width: 180px;
			}
			img {
				padding: 10px 10px 28px 0;
				max-width: 180px;
			}
			a {
				all: unset;
				border-radius: 4px;
				width: 100%;
				padding: 10px;
				font-size: 14px;
				font-weight: 500;
				margin-bottom: 8px;
				box-sizing: border-box;
				cursor: pointer;
				&.nav-tab-active {
					background-color: rgb(226, 232, 240);
				 }
			}
		}
	}
}

.kanban-dashboard-boxes {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 32px;
	margin-top: 32px;
	@include sm-desk-only {
		gap: 8px;
	}
	@include md-desk-only {
		gap: 16px;
	}
	@include mob-only {
		grid-template-columns: 1fr;
	}
}
.kanban-dashboard-box {
	@include basic-box;
	box-sizing: border-box;
	margin-block: 0;
	.kanban-dashboard-box-title {
		margin-bottom: 32px;
		text-align: center;
	}
	a {
		width: 100%;
		margin-bottom: 1em;
	}
}

p.stat-number {
	font-size: 32px;
	text-align: center;
	margin: 0;
	margin-top: -16px;
	font-weight: 700;
}

.pro_features_toggle_wrap {
	display: flex;
	align-items: center;
	margin-block: 16px 32px;
	span {
		font-size: 16px;
	}
}

label[for='kanban_hide_licence_invalid'] {
	display: block;
	font-size: 16px;
	font-weight: 600;
	margin-right: 16px;
	flex-shrink: 1;
}

#kanban_hide_licence_invalid {
	transform: translateY(3px);
	flex-shrink: 0;
}

.kanban-settings-sidebar {
	h3 {
		font-size: 20px;
		margin-bottom: 24px;
		text-align: center;
	}
	@include desk-min {
		width: calc(30% - 32px);
		max-width: 280px;
	}
	@include limbo-max {
		width: 100%;
	}
	.kanban-settings-sidebar-box {
		background-color: #fff;
		padding: 20px;
		border-left: 2px solid;
		box-sizing: border-box;
		margin-top: 16px;
		p {
			margin-block: 0 16px;
			font-size: 14px;
		}
		a {
			text-transform: uppercase;
			font-weight: 500;
			font-size: 13px;
			display: block;
			&:first-of-type {
				margin-top: 16px;
			}
			&:last-of-type {
				margin-top: 8px;
			}
		}
	}
}

.kanban-updates-box {
	.licence_wrap {
		height: 40px;
		display: flex;
		svg {
			background-color: #e7daeb;
			width: 40px;
			height: 40px;
			padding: 10px;
			box-sizing: border-box;
		}
	}
	input#licence {
		background-color: #eee6f3;
		border: none;
		position: relative;
		width: 400px;
		max-width: calc(100% - 40px);
		&:focus {
			box-shadow: none;
			outline: none;
		}
		&::before {
			content: "";
			width: 30px;
			height: 30px;
			background-color: red;
			position: absolute;
		}
	}
	label {
		font-size: 14px;
		margin-top: 32px;
		display: block;
	}
	input#activate-button {
		margin-top: 16px;
		width: 440px;
		max-width: 100%;
		@include kan-btn;
		height: 40px;
	}
}

.kanban-settings-footer {
	width: 100%;
	@include basic-box;
	box-sizing: border-box;
	max-width: 640px;
	margin-top: 32px;
	margin-inline: auto;
	h3 {
		font-size: 24px;
		margin-top: 8px;
	}
	.kanban-upsell-container {
		display: flex;
		> div {
			width: 48%;
		}
		li {
			font-size: 14px;
			background-image: url(../icons/check-circle.svg);
			background-size: 18px;
			padding-left: 30px;
			background-repeat: no-repeat;
			background-position: center left;
			margin-bottom: 8px;
		}
	}
	a {
		width: 80%;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		margin: 16px auto 8px;
		font-size: 16px;
	}
}

@include limbo-max {
	.kanban-settings-main {
		order: 1;
	}
	.kanban-settings-sidebar {
		order: 3;
	}
	.kanban-settings-footer {
		order: 2;
	}
}
