:root {
	--color-1: 32, 148, 139;
	--color-2: 64, 142, 198;
	--color-3: 23, 106, 134;
	--color-4: 24, 25, 27;
	--text-color: #fff;
}


$shadow-var-1: 0 5px 5px -4px rgba(0,0,0,0.5),inset 0 -3px 4px -1px rgba(0,0,0,0.2) ,0 -2.5px 5px -1px;
$shadow-var-2: inset 0 3px 4px -1px;
$shadow-var-3: inset 0 0 5px 1px;
$shadow-var-4: inset 0 20px 30px 0;
@mixin st {
	transition: .2s ease-in-out;
}
@mixin box {
	border-radius: 10px;
	margin-block: 16px;
}
@mixin basic-box {
	@include box;
	padding: 15px 25px;
	background-color: #fff;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}

@mixin shadow-box {
	@include box;
	padding: 15px 25px;
	box-shadow: -8px -8px 15px rgba(255, 255, 255, .7),
		  10px 10px 10px rgba(0, 0, 0, .2),
		  inset 8px 8px 15px rgba(255, 255, 255, .7),
		  inset 10px 10px 10px rgba(0, 0, 0, .2);
}

@mixin kan-btn {
	color: #fff;
	border-radius: 0.5em;
	font-size: 14px;
	background: #2F7AE5;
	cursor: pointer;
	border: 1px solid #2F7AE5;
	transition: all 0.3s;
	box-shadow: 3px 3px 6px #c5c5c5, 4px 3px 6px #439CEF;
	&:hover {
		background-color: #3E88EF;
		color: #fff;
		border: 1px solid #439CEF;

	  }
	&:active, &:focus {
		box-shadow: 2px 2px 6px #c5c5c5, 2px 2px 6px #439CEF;
		background-color: #3E88EF;
		color: #fff;
		border: 1px solid #439CEF;
		outline: none;
	}
}

@mixin kan-btn-1 {
	@include kan-btn;
	padding: 10px;
	box-sizing: border-box;
	text-decoration: none
}

@mixin kan-btn-2 {
	@include kan-btn;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	padding: 7.5px 10px;
	box-sizing: border-box;
	background: #06c6a8;
	border-color: #06c6a8;
	box-shadow: 3px 3px 6px #c5c5c5, 4px 3px 6px #06c6a8;
	&:hover {
		background-color: #06c6a8;
		color: #fff;
		border: 1px solid #06c6a8;
		opacity: .9;
	  }
	&:active, &:focus {
		box-shadow: 2px 2px 6px #c5c5c5, 2px 2px 6px #06c6a8;
		background-color: #06c6a8;
		color: #fff;
		border: 1px solid #06c6a8;
		outline: none;
	}
}
.kan-btn-1 {
	@include kan-btn-1;
}
.kan-btn-2 {
	@include kan-btn-2;
}


.kan-checkbox[type="checkbox"] {
    position: relative;
    width: 50px;
    height: 25px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none!important;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.2);
    transition: 0.7s;
	border: none;
	box-shadow: none!important;
}

.kan-checkbox:checked[type="checkbox"] {
  background: #03a9f4;
}

.kan-checkbox[type="checkbox"]:before {
  content: ''!important;
  position: absolute;
  width: 25px!important;
  height: 25px!important;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #ffffff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: .5s;
  margin: 0!important;
}

.kan-checkbox:checked[type="checkbox"]:before {
  left: 25px;
}


$mob-max: 480.5px;
$tab-min: 480.6px;
$tab-max: 834.5px;
$limbo-min: 834.6px;
$limbo-max: 1199.5px;
$desk-min: 1199.6px;
$sm-desk-max: 1360.5px;
$md-desk-min: 1360.6px;
$md-desk-max: 1660.5px;
$lg-desk-min: 1660.6px;
$huge-desk-min: 2560px;

// Breakpoints

@mixin mob-only {
	@media (max-width: $mob-max) {
		@content;
	}
}

@mixin tab-min {
	@media (min-width: $tab-min) {
		@content;
	}
}

@mixin tab-max {
	@media (max-width: $tab-max) {
		@content;
	}
}

@mixin tab-only {
	@media (min-width: $tab-min) and (max-width: $tab-max) {
		@content;
	}
}

@mixin limbo-min {
	@media (min-width: $limbo-min) {
		@content;
	}
}

@mixin limbo-max {
	@media (max-width: $limbo-max) {
		@content;
	}
}

@mixin limbo-only {
	@media (min-width: $limbo-min) and (max-width: $limbo-max) {
		@content;
	}
}

@mixin desk-min {
	@media (min-width: $desk-min) {
		@content;
	}
}

@mixin sm-desk-only {
	@media (min-width: $desk-min) and (max-width: $sm-desk-max) {
		@content;
	}
}

@mixin sm-desk-max {
	@media (max-width: $sm-desk-max) {
		@content;
	}
}

@mixin md-desk-min {
	@media (min-width: $md-desk-min) {
		@content;
	}
}

@mixin md-desk-max {
	@media (min-width: $md-desk-max) {
		@content;
	}
}

@mixin md-desk-only {
	@media (min-width: $md-desk-min)  and (max-width: $md-desk-max) {
		@content;
	}
}

@mixin lg-desk-min {
	@media (min-width: $lg-desk-min) {
		@content;
	}
}

@mixin huge-desk-min {
	@media (min-width: $huge-desk-min) {
		@content;
	}
}
