body.kanban-classic {
	.kanban-column-inner {
		background-color: #e9ecf0;
		padding-inline: 12px;
		border-radius: 8px;
		width: 100%;
		box-sizing: border-box;
	}
	#copyMessage {
		padding: 5px;
	}
	.column-title {
		padding-inline: 16px 32px;
		margin-bottom: 16px;
	}
	.add-item-btn {
		padding: 4px 16px;
	}
	.column-title, #add-column-btn {
		font-size: 16px;
	}
	 #add-column-btn {
		justify-content: center;
		svg {
			width: 14px;
			margin-bottom: -1px;
		}
	 }
	.kanban-card {
		margin-top: 12px;
		padding: 10px 14px;
		.card-title {
			font-weight: 600;
    		font-size: 16px;
		}
		.description-placeholder {
			background-image: url(../assets/icons/description-placeholder.svg);
			padding-left: 24px;
			background-size: 16px;
		}
	}
	.add-card-wrap {
		svg {
			width: 12px;
			margin-bottom: -1px;
		}
	}
	.add-card-btn {
		background-color: #fff;
		color: #18191b;
		border-radius: 8px;
		font-size: 16px;
		font-weight: 500;
		justify-content: center;
		padding-block: 6px;
		&:hover, &:focus {
			background-color: #fff;
    		color: #18191b;
		}
	}
	.delete-column-btn {
		top: 4px;
		background-image: url(../assets/icons/trash.svg);
	}
}
