body.kanban-modern {
	#kanban-board {
		gap: 12px;
		.add-item-btn {
			font-size: 14px;
			font-weight: 500;
		}
	}
	.kanban-column {
		background-color: rgba(29, 29, 29, .45);
		padding: 8px 16px 16px;
		border-radius: 10px;
	}
	.column-title {
		color: #C7C7C7;
		font-size: 14px;
		border-bottom: 1px solid #7B7B7B;
		margin-bottom: 16px;
	}
	.delete-column-btn {
		background-image: url(../assets/icons/modern/trash-modern-white.svg);
		width: 20px;
		top: 10px;
		background-size: 13px;
	}
	.kanban-card {
		padding: 8px 12px;
		&:not(:last-of-type) {
			margin-bottom: 8px;
		}

		.card-title {
			font-size: 15px;
			color: #686565;
		}
		.description-placeholder {
			font-size: 13px;
			font-weight: 400;
			color: #484646;
			background-image: url(../assets/icons/modern/description-placeholder-modern.svg);
			background-size: 12px;
			padding-left: 20px;
		}
		.card-description {
			font-size: 14px;
			color: #484646;
			font-weight: 400;
		}
	}
	.add-card-btn {
		color: #C7C7C7;
		padding-top: 6px;
		svg {
			width: 12px;
			path {
				stroke: #C7C7C7;
			}
		}
	}
	#add-column-btn {
		background-color: rgba(29,29,29,0.45);
		color: #c7c7c7;
		border-radius: 6px;
		padding: 8px 16px;
		font-weight: 500;
		display: flex;
		align-items: center;
		width: 170px;
		svg {
			width: 12px;
			margin-right: 6px;
			@include st;
			path {
				stroke: #C7C7C7;
			}
		}
		&:hover,
		&:focus {
			svg {
				transform: scale(1.1);
			}
		}
	}
}
